<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="mdl/material.min.css">
		<script src="mdl/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="style.css">
		<title>Test Index</title>
	</head>
	
	<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
		<div class="mdl-layout mdl-js-layout">
			<header class="header-navigation mdl-layout-header mdl-layout__header--scroll mdl-color--blue mdl-color-text--white">
				
				<div class="mdl-layout__header-row">
					<!-- Title -->
					<h2><% echo(title) %></h2>
					
					<!-- Space -->
					<div class="mdl-layout-spacer"></div>
					
					<!-- Nvigation -->
					<nav class="mdl-navigation">
						<a href="register.html" class="mdl-navigation__link">REGISTER</a>
					</nav>
				</div>
			</header>
			
			<!-- Contents -->
			<main class="container mdl-layout__content">
				<!-- Banner -->
				<div class="banner-card mdl-card" style="background: url('<% echo(banner) %>') center / cover;">
					<div class="mdl-card__title"></div>
				</div>
				
				<!-- アンケート -->
				<div class="enq-card mdl-card mdl-shadow-4dp">
					<div class="mdl-card__supporting-text">
						<form method="post" action="anq.php" id="form"> 
							<input type="hidden" name="path" value="../<% echo(path) %>">
							<h4>How did you feel about a means of transportation to here?</h4>
							<h4>1. Rate</h4>
							<input name="rate" class="mdl-slider mdl-js-slider" type="range" min="1" max="10" value="5" tabindex="0">
					
							<h4>2. Cleanliness</h4>
							<input name="clean" class="mdl-slider mdl-js-slider" type="range" min="1" max="10" value="5" tabindex="0">
							
							<h4>3. Comprehensibility</h4>
							<input name="comprehensibility" class="mdl-slider mdl-js-slider" type="range" min="1" max="10" value="5" tabindex="0">
						</form>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>