<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<title><% echo(name) %></title>
		
		<!-- Skeleton -->
		<link rel="stylesheet" href="./Skeleton-2.0.4/css/normalize.css">
		<link rel="stylesheet" href="./Skeleton-2.0.4/css/skeleton.css">
		
		<!-- my css -->
		<link rel="stylesheet" href="custom.css">
		
	</head>
	<body>
		<div class="container">
			<h2 class="title">高専祭スタンプラリー</h2>
			<div class="section">
				<span class="section-sign section-description"><% echo(sign) %></span>
				<h1 class="section-heading"><% echo(name) %></h1>
				<h5 class="section-description">ICカードをカードリーダにタッチしてください。</h5>
			</div>
		</div>
		
		<div class="hidden">
			<object id="pasori" classid="CLSID:7d972707-49c9-4813-8361-ebed3f7d0d88"></object>
			<form id="form" action="passage-time.php" method="POST">
				<input type="hidden" name="point" value="1">
				<input type="hidden" name="link" value="tosho.html">
			</form>
			<!-- pasori initialize -->
			<script type="text/javascript">
				window.onload = function (){
					pasori.Init();
				}
			</script>
			<!-- pasori event  -->
			<script type="text/javascript" for="pasori" event="NotifyIDm(idm)">
				var form = document.getElementById("form");
				var input = document.createElement("input");
				input.setAttribute("type", "hidden");
				input.setAttribute("name", "idm");
				input.setAttribute("value", idm);
				form.appendChild(input);
				form.submit();
			</script>
		</div>
	</body>
</html>